node_modules/

**/*.svg
**/*.yml

lib/
build/
dist/

CNAME
LICENSE

yarn.lock
yarn-error.log
package-lock.json
netlify.toml

*.sh
*.snap
*.md
*.log
*.DS_Store

.nyc_output
.idea
.vscode
.gitignore
.npmignore
.prettierignore
.editorconfig
.eslintignore
.DS_Store
