<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Appura</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
	<style>
		@media screen {

			* {
				align-items: center;
				margin: auto;
				text-align: center;
				font-family: "Roboto", sans-serif;
				font-weight: 400;
			}

			body {
				font-family: "Roboto", sans-serif;
			}

			.body {
				width: 600px;
				max-width: 600px;
			}

			.header {
				background: url('') no-repeat;
				margin: auto;
				color: white;
			}

			.greetings {
				color: #020B50;
				font-weight: 900;
			}

			.container {
				font-family: "Roboto", sans-serif;
				color: #030711;
			}

			.my-auto {
				margin: 50px auto;
			}

			.py-auto {
				padding-top: 200px;
				padding-bottom: 90px;
			}

			.footer {
				background-image: linear-gradient(#24365b, #242f3c);
				color: white;
			}

			.button {
				background-color: #020B50;
				-webkit-border-radius: 14px;
				-moz-border-radius: 14px;
				border-radius: 14px;
				display: inline-block;
				cursor: pointer;
				color: #ffffff !important;
				font-family: 'Roboto';
				font-size: 18px;
				font-weight: bold;
				padding: 10px 76px;
				margin: 30px auto;
				text-decoration: none;
			}
		}
	</style>
</head>

<body>
	<div class="body">
		<div class="header">
			<img src="http://appuraapi.inkubo.co:5000/images/header.png" alt="" width="600px">
		</div>
		<div class="container">
			<div class="my-auto">
				<h1 class="greetings">
					¡Hola!
				</h1>
				<h3 class="words">Ocurrió un error en la confirmación de tu correo</h3>
				<br>
			</div>
		</div>
		<div class="footer">
			<small></small>
		</div>
	</div>
</body>

</html>