<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tugo</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <style>
        @media screen {
            * {
                margin: auto;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
            }

            body {
                font-family: "Roboto", sans-serif;
            }

            .body {
                width: 600px;
                max-width: 600px;
            }

            .header {
                margin: auto;
                height: 150px;
            }

            .greetings {
                color:#FF2F5D;
                font-weight: 600;
            }

            .container {
                font-family: "Roboto", sans-serif;
                color: #2F2F2F;
            }

            .strong {
                font-weight: bold;
            }

            .content-email {
                align-items: center;
                margin: auto;
                text-align: center;
            }

            .my-auto {
                margin: 50px auto;
            }

            .py-auto {
                padding-top: 200px;
                padding-bottom: 90px;
            }

            .title-name {
                margin: auto 10px;
            }

            .footer {
                background-image: linear-gradient(#24365b, #242f3c);
                color: white;
            }

            .button {
                background-color: #020b50;
                -webkit-border-radius: 14px;
                -moz-border-radius: 14px;
                border-radius: 14px;
                display: inline-block;
                cursor: pointer;
                color: black;
                font-family: "Roboto";
                font-size: 18px;
                font-weight: bold;
                padding: 10px 76px;
                margin: 30px auto;
                text-decoration: none;
                background: #F7F7F7 0% 0% no-repeat padding-box;
                border-radius: 18px;
            }
        }
    </style>
</head>

<body>
    <div class="body">
        <div class="header">
            <img src="http://tugoboapi.inkubo.co:50003/email/header.png" alt=""
                width="600px">
        </div>
        <div class="container">
            <div class="my-auto title-name">
                <h1 class="greetings">
                    ¡Hola, {{name}}!
                </h1>
                <br />
                <h3 class="words">¿Quieres recuperar tu contraseña?</h3>
                <div class="content-email">
                    
                    <br />
                    <img src="http://tugoboapi.inkubo.co:50003/email/img_recover_password@2x.png"
                        alt="" height="250px" />
                    <br />
                    <p>Hemos recibido una solicitud de cambio de contraseña para la cuenta:</p>
                    <br />
                    <strong class="strong">Tu clave:</strong>
                    <br />
                    <span class="button">
                        {{code}}
                    </span>
                </div>
            </div>
        </div>
        <div class="footer">
            <small></small>
        </div>
    </div>
</body>

</html>
